# Django
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
db.sqlite3
.env
media/
staticfiles/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
"@ | Out-File -FilePath .gitignore -Encoding utf8 
